{
	"SQLALCHEMY_DATABASE_URI": "sqlite:///data.db",
	"LOGGING": {
		"LEVEL": {
			"ALL": 20,
			"CONSOLE": 20,
			"FILE": 20
		},
		"FILE": "log.txt"
    },
    "MAINTAINER": "",
    "EVE_CLIENT_ID": "",
    "EVE_CLIENT_SECRET": "",
    "EVE_CALLBACK_URI": "",
    "SUBREDDIT":"",
	"ZKILL_USER_AGENT": "",
	"MAX_SRP":,
	"OPEN_DAYS":,
	"BASE_URL":"",
	"FLAIR_TEXT":"",
	"FLAIR_CSS":"",
	"CORP_UPDATE_TIME":,
	"CORP_ID":,
	"CORP_CLIENT_ID":"",
	"CORP_CLIENT_SECRET":"",
	"CORP_CALLBACK_URI":"",
	"CORP_WALLET_DIVISION":,
	"HOMEPAGE_LOG_AMOUNT":
}