{% extends "base.html" %}
{% block content%}
	<div class="col s12">
		<div class="row">
			<div class="center">
				<h4>My SRP Requests</h4>
			</div>
			<div class="card-panel">
  				<p>
  					Request #1<br>
  					Request #2<br>
  					Request #3
  				</p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="center">
				<h4>Personal Statistics</h4>
			</div>
			<div class="card-panel">
  				<div class="center">
  					<h5>In progress</h5>
  				</div>
			</div>
		</div>
	</div>
{% endblock %}