{% extends "base.html" %}
{% block content%}
<h2>New Fight</h2>
	<div class="row">
	    <div class="col s12">
	    	<br>
	    	<div class="row">
	    	<script>
				function validateForm() {
    			var x = document.forms["form"]["title"].value;
    			var y = document.forms["form"]["date"].value;
    			if (x == "" || y == "") {
        			alert("All fields must be filled out");
        			return false;
    				}
				}
			</script>
			    <form class="col s12" method="post" name = "form" onsubmit="return validateForm()">
				    <div class="row">
					    <div class="input-field col s6">
						    <input name="title" type="text" class="validate">
						    <label for="title">Title</label>
					    </div>
				    </div>
				    <div class="row">
					    <div class="input-field col s6">  
							<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/jquery.datetimepicker.min.css" />

							<!-- Here by using Id selector the datetime picker will load on this input element -->
							<input id="datetimepicker" type="text" name="date">
							<label for="datetimepicker">Date of fight (EvE Time)</label>
							<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
							<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
							<script src="http://cdn.craig.is/js/rainbow-custom.min.js"></script>
							<script>
							$(document).ready(function() {
								$('#datetimepicker').datetimepicker();
							});
							</script>
					    </div>
					    <div class="input-field col s6">
    						<select name="FC">
    							{% for member in members %}
    								{% if member.character_id == current_user.character_id %}
    									<option value="{{member.character_name}}" selected>{{member.character_name}}</option>
    								{% else %}
										<option value="{{member.character_name}}">{{member.character_name}}</option>
    								{% endif %}
    							{% endfor %}
    						</select>
    						<label>FC</label>
  						</div>
				    </div>
					<div class="row">
						<div class="input-field col s2">
	    					<button class="btn btn-default grey darken-3" type="submit">Post</button>
						</div>
					</div>
			    </form>
	    	</div>
	    </div>
  	</div>

<script>
    $(document).ready(function() {
      $('select').material_select();
    });
</script>
{% endblock %}